body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sRrrTq9ity .nav-item:focus,
.cid-sRrrTq9ity .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-sRrrTq9ity .nav-item {
    position: relative;
  }
}
.cid-sRrrTq9ity .navbar {
  min-height: 77px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  background: none;
}
.cid-sRrrTq9ity .navbar .mbr-overlay {
  z-index: -1;
  transition: all .3s;
  background: #c17b71;
  background: linear-gradient(#f2f1eb, #c17b71);
  background: none;
}
.cid-sRrrTq9ity .navbar.opened .mbr-overlay {
  transition: all .3s;
  background: #c17b71 !important;
  background: linear-gradient(#f2f1eb, #c17b71) !important;
}
.cid-sRrrTq9ity .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-sRrrTq9ity .navbar .navbar-collapse {
  width: 100%;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  z-index: 1;
  padding: .5rem 0;
}
@media (max-width: 991px) {
  .cid-sRrrTq9ity .navbar .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-sRrrTq9ity .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sRrrTq9ity .navbar.collapsed.opened .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-sRrrTq9ity .navbar.collapsed .navbar-collapse.show,
.cid-sRrrTq9ity .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-sRrrTq9ity .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-sRrrTq9ity .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  -webkit-order: -1;
  order: -1;
}
.cid-sRrrTq9ity .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-sRrrTq9ity .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sRrrTq9ity .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sRrrTq9ity .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 1rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sRrrTq9ity .navbar.collapsed ul.navbar-nav li {
  margin-right: 14px;
}
.cid-sRrrTq9ity .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-sRrrTq9ity .navbar.collapsed .dropdown-menu .dropdown-item {
  text-align: center;
}
.cid-sRrrTq9ity .navbar.collapsed .right-menu,
.cid-sRrrTq9ity .navbar.collapsed .left-menu {
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
@media (max-width: 991px) {
  .cid-sRrrTq9ity .navbar .navbar-collapse.show,
  .cid-sRrrTq9ity .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .cid-sRrrTq9ity .navbar .navbar-collapse.show .brand-container,
  .cid-sRrrTq9ity .navbar .navbar-collapse.collapsing .brand-container {
    -webkit-order: -1;
    order: -1;
  }
  .cid-sRrrTq9ity .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sRrrTq9ity .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-sRrrTq9ity .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sRrrTq9ity .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sRrrTq9ity .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sRrrTq9ity .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sRrrTq9ity .navbar ul.navbar-nav li {
    margin: auto !important;
  }
  .cid-sRrrTq9ity .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-sRrrTq9ity .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-sRrrTq9ity .navbar .right-menu,
  .cid-sRrrTq9ity .navbar .left-menu {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-sRrrTq9ity .navbar.navbar-short {
  min-height: 60px;
}
.cid-sRrrTq9ity .navbar.navbar-short .mbr-overlay {
  background: #c17b71 !important;
  background: linear-gradient(#f2f1eb, #c17b71) !important;
}
.cid-sRrrTq9ity .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sRrrTq9ity .navbar.navbar-short .navbar-brand {
  padding: 0;
}
@media (min-width: 768px) {
  .cid-sRrrTq9ity .navbar {
    padding-left: 65px;
    padding-right: 65px;
  }
}
.cid-sRrrTq9ity .navbar-brand {
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-sRrrTq9ity .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sRrrTq9ity .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sRrrTq9ity .dropdown-item.active,
.cid-sRrrTq9ity .dropdown-item:active {
  background-color: transparent;
}
.cid-sRrrTq9ity .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sRrrTq9ity .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
}
.cid-sRrrTq9ity .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #c17b71;
}
.cid-sRrrTq9ity .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sRrrTq9ity .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sRrrTq9ity ul.navbar-nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-sRrrTq9ity ul.navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.cid-sRrrTq9ity .navbar-buttons {
  margin-left: auto;
}
.cid-sRrrTq9ity button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  -webkit-align-self: center;
  align-self: center;
  outline: none;
}
.cid-sRrrTq9ity button.navbar-toggler:hover {
  outline: none;
}
.cid-sRrrTq9ity button.navbar-toggler:active {
  outline: none;
}
.cid-sRrrTq9ity button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #282727;
}
.cid-sRrrTq9ity button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sRrrTq9ity button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sRrrTq9ity button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sRrrTq9ity button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sRrrTq9ity nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sRrrTq9ity nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.cid-sRrrTq9ity nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.cid-sRrrTq9ity nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sRrrTq9ity a.nav-link {
  position: relative;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  letter-spacing: 3.41px;
}
.cid-sRrrTq9ity a.nav-link:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: .3s ease;
}
.cid-sRrrTq9ity a.nav-link:hover:before {
  transform: scale(1);
}
.cid-sRrrTq9ity .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-sRrrTq9ity .right-menu,
.cid-sRrrTq9ity .left-menu {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.cid-sRrrTq9ity .left-menu .navbar-nav {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-sRrrTq9ity .left-menu .navbar-nav ul {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-sRrrTq9ity .right-menu .navbar-nav {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sRrrTq9ity .right-menu .navbar-nav ul {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sRrrTq9ity .brand-container {
  padding: 0 2rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-sRrrTq9ity .card-wrapper {
  z-index: 3;
}
.cid-sRrrTq9ity .popup-btn.card-wrapper {
  z-index: 1 !important;
}
@media (max-width: 991px) {
  .cid-sRrrTq9ity .navbar-collapse {
    padding-top: 0;
  }
}
.cid-sRrrTq9ity .nav-item:not(:last-child) {
  margin-right: 14px !important;
}
.cid-sRrrTq9ity .navbar-brand img {
  width: auto !important;
}
.cid-sRrw7wOoJn {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sRrw7wOoJn .mbr-figure {
  margin: 0 auto;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sRrw7wOoJn .mbr-figure img {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 3rem;
  border-radius: 100%;
}
.cid-sRrw7wOoJn .mbr-text,
.cid-sRrw7wOoJn .mbr-section-btn {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-sRrw7wOoJn img {
    height: 250px!important;
    width: 250px!important;
  }
}
.cid-sRrx8p1bLu {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sRrx8p1bLu .card-wrapper {
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 6px;
}
.cid-sRrx8p1bLu .btn {
  border: 1px solid #efefef;
}
.cid-sRrx8p1bLu .card {
  padding: 0.5rem;
}
.cid-sRrx8p1bLu .main-row {
  padding: 0 0.5rem;
}
.cid-sRrx8p1bLu .row {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-sRrx8p1bLu .row .row {
    flex-direction: column-reverse;
  }
  .cid-sRrx8p1bLu .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sRrx8p1bLu .img-wrapper,
.cid-sRrx8p1bLu img {
  height: 135px;
  object-fit: cover;
  margin: 0!important;
}
@media (max-width: 767px) {
  .cid-sRrx8p1bLu .img-wrapper,
  .cid-sRrx8p1bLu img {
    height: auto;
  }
}
.cid-sRrx8p1bLu .text-wrapper {
  padding: 1rem 1.5rem;
  padding-right: 0;
}
@media (max-width: 767px) {
  .cid-sRrx8p1bLu .text-wrapper {
    padding: 1.5rem 1rem;
    padding-top: 2rem;
    text-align: center;
  }
}
.cid-sRrx8p1bLu .card-title {
  margin-bottom: 0.2rem;
  color: #103178;
}
.cid-sRrx8p1bLu .btn-md {
  padding: 0.2rem 1rem;
}
.cid-sRrx8p1bLu .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sRrx8p1bLu .card-subtitle {
  color: #0095ff;
}
.cid-sRrx8p1bLu .mbr-text {
  color: #555555;
}
.cid-sRrx8p1bLu .mbr-section-title {
  color: #103178;
}
.cid-sRzd2uuNj8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sRzd2uuNj8 .card-wrapper {
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 6px;
}
.cid-sRzd2uuNj8 .btn {
  border: 1px solid #efefef;
}
.cid-sRzd2uuNj8 .card {
  padding: 0.5rem;
}
.cid-sRzd2uuNj8 .main-row {
  padding: 0 0.5rem;
}
.cid-sRzd2uuNj8 .row {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-sRzd2uuNj8 .row .row {
    flex-direction: column-reverse;
  }
  .cid-sRzd2uuNj8 .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sRzd2uuNj8 .img-wrapper,
.cid-sRzd2uuNj8 img {
  height: 135px;
  object-fit: cover;
  margin: 0!important;
}
@media (max-width: 767px) {
  .cid-sRzd2uuNj8 .img-wrapper,
  .cid-sRzd2uuNj8 img {
    height: auto;
  }
}
.cid-sRzd2uuNj8 .text-wrapper {
  padding: 1rem 1.5rem;
  padding-right: 0;
}
@media (max-width: 767px) {
  .cid-sRzd2uuNj8 .text-wrapper {
    padding: 1.5rem 1rem;
    padding-top: 2rem;
    text-align: center;
  }
}
.cid-sRzd2uuNj8 .card-title {
  margin-bottom: 0.2rem;
  color: #103178;
}
.cid-sRzd2uuNj8 .btn-md {
  padding: 0.2rem 1rem;
}
.cid-sRzd2uuNj8 .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sRzd2uuNj8 .card-subtitle {
  color: #0095ff;
}
.cid-sRzd2uuNj8 .mbr-text {
  color: #555555;
}
.cid-sRzd2uuNj8 .mbr-section-title {
  color: #103178;
}
.cid-sRzd37aaDr {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sRzd37aaDr .card-wrapper {
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 6px;
}
.cid-sRzd37aaDr .btn {
  border: 1px solid #efefef;
}
.cid-sRzd37aaDr .card {
  padding: 0.5rem;
}
.cid-sRzd37aaDr .main-row {
  padding: 0 0.5rem;
}
.cid-sRzd37aaDr .row {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-sRzd37aaDr .row .row {
    flex-direction: column-reverse;
  }
  .cid-sRzd37aaDr .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sRzd37aaDr .img-wrapper,
.cid-sRzd37aaDr img {
  height: 135px;
  object-fit: cover;
  margin: 0!important;
}
@media (max-width: 767px) {
  .cid-sRzd37aaDr .img-wrapper,
  .cid-sRzd37aaDr img {
    height: auto;
  }
}
.cid-sRzd37aaDr .text-wrapper {
  padding: 1rem 1.5rem;
  padding-right: 0;
}
@media (max-width: 767px) {
  .cid-sRzd37aaDr .text-wrapper {
    padding: 1.5rem 1rem;
    padding-top: 2rem;
    text-align: center;
  }
}
.cid-sRzd37aaDr .card-title {
  margin-bottom: 0.2rem;
  color: #103178;
}
.cid-sRzd37aaDr .btn-md {
  padding: 0.2rem 1rem;
}
.cid-sRzd37aaDr .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sRzd37aaDr .card-subtitle {
  color: #0095ff;
}
.cid-sRzd37aaDr .mbr-text {
  color: #555555;
}
.cid-sRzd37aaDr .mbr-section-title {
  color: #103178;
}
.cid-sRzd3OQbF7 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sRzd3OQbF7 .card-wrapper {
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 6px;
}
.cid-sRzd3OQbF7 .btn {
  border: 1px solid #efefef;
}
.cid-sRzd3OQbF7 .card {
  padding: 0.5rem;
}
.cid-sRzd3OQbF7 .main-row {
  padding: 0 0.5rem;
}
.cid-sRzd3OQbF7 .row {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-sRzd3OQbF7 .row .row {
    flex-direction: column-reverse;
  }
  .cid-sRzd3OQbF7 .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sRzd3OQbF7 .img-wrapper,
.cid-sRzd3OQbF7 img {
  height: 135px;
  object-fit: cover;
  margin: 0!important;
}
@media (max-width: 767px) {
  .cid-sRzd3OQbF7 .img-wrapper,
  .cid-sRzd3OQbF7 img {
    height: auto;
  }
}
.cid-sRzd3OQbF7 .text-wrapper {
  padding: 1rem 1.5rem;
  padding-right: 0;
}
@media (max-width: 767px) {
  .cid-sRzd3OQbF7 .text-wrapper {
    padding: 1.5rem 1rem;
    padding-top: 2rem;
    text-align: center;
  }
}
.cid-sRzd3OQbF7 .card-title {
  margin-bottom: 0.2rem;
  color: #103178;
}
.cid-sRzd3OQbF7 .btn-md {
  padding: 0.2rem 1rem;
}
.cid-sRzd3OQbF7 .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sRzd3OQbF7 .card-subtitle {
  color: #0095ff;
}
.cid-sRzd3OQbF7 .mbr-text {
  color: #555555;
}
.cid-sRzd3OQbF7 .mbr-section-title {
  color: #103178;
}
.cid-sRzdkuHJoj {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #4479d9;
}
.cid-sRzdkuHJoj .mbr-section-title {
  color: #ffffff;
}
.cid-sRrqO8kisk {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sRrqO8kisk img {
  width: 100%;
  display: inline-block;
  padding: 0;
  max-width: 200px;
}
.cid-sRrqO8kisk .mbr-section-subtitle {
  margin-right: 30px;
  color: #5f5d68;
}
.cid-sRrqO8kisk .brand {
  display: flex;
  transition: color 300ms ease;
  transition-property: transform, -webkit-transform;
  justify-content: center;
}
.cid-sRrqO8kisk .brand:hover {
  transform: translate(0px, -4px);
}
.cid-sRrqO8kisk .brand-row {
  justify-content: space-between;
  align-items: center;
}
.cid-sRrqO8kisk .row-main {
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 460px) {
  .cid-sRrqO8kisk .row-main {
    flex-direction: column;
  }
  .cid-sRrqO8kisk .col-auto {
    margin-bottom: 10px;
  }
  .cid-sRrqO8kisk .mbr-section-subtitle {
    margin-right: 0;
  }
}
.cid-sRrrWJwZ6r {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
.cid-sRrDAS2nqC.popup-builder {
  background-color: #ffffff;
}
.cid-sRrDAS2nqC.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-sRrDAS2nqC.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-sRrDAS2nqC .modal-content,
.cid-sRrDAS2nqC .modal-dialog {
  height: auto;
}
.cid-sRrDAS2nqC .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-sRrDAS2nqC .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-sRrDAS2nqC .form-wrapper .mbr-form .form-group,
  .cid-sRrDAS2nqC .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-sRrDAS2nqC .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-sRrDAS2nqC .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sRrDAS2nqC .mbr-text {
  text-align: center;
}
.cid-sRrDAS2nqC .pt-0 {
  padding-top: 0 !important;
}
.cid-sRrDAS2nqC .pb-0 {
  padding-bottom: 0 !important;
}
.cid-sRrDAS2nqC .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-sRrDAS2nqC .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-sRrDAS2nqC .modal-open {
  overflow: hidden;
}
.cid-sRrDAS2nqC .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-sRrDAS2nqC .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-sRrDAS2nqC .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-sRrDAS2nqC .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-sRrDAS2nqC .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-sRrDAS2nqC .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-sRrDAS2nqC .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-sRrDAS2nqC .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-sRrDAS2nqC .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-sRrDAS2nqC .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-sRrDAS2nqC .modal-backdrop.fade {
  opacity: 0;
}
.cid-sRrDAS2nqC .modal-backdrop.show {
  opacity: .5;
}
.cid-sRrDAS2nqC .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-sRrDAS2nqC .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sRrDAS2nqC .modal-header {
    padding: 1rem;
  }
}
.cid-sRrDAS2nqC .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-sRrDAS2nqC .modal-header .close svg {
  fill: #353535;
}
.cid-sRrDAS2nqC .modal-header .close:hover {
  opacity: 1;
}
.cid-sRrDAS2nqC .modal-header .close:focus {
  outline: none;
}
.cid-sRrDAS2nqC .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-sRrDAS2nqC .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-sRrDAS2nqC .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sRrDAS2nqC .modal-body {
    padding: 1rem;
  }
}
.cid-sRrDAS2nqC .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-sRrDAS2nqC .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sRrDAS2nqC .modal-footer {
    padding: 1rem;
  }
}
.cid-sRrDAS2nqC .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-sRrDAS2nqC .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-sRrDAS2nqC .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-sRrDAS2nqC .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-sRrDAS2nqC .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-sRrDAS2nqC .modal-lg,
  .cid-sRrDAS2nqC .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-sRrDAS2nqC .modal-xl {
    max-width: 1140px;
  }
}
.cid-sRrDAS2nqC .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-sRrDAS2nqC .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-sRrDAS2nqC .form-group {
  margin-bottom: 1rem;
}
.cid-sRrDAS2nqC .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-sRrDAS2nqC .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sRrDAS2nqC .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-sRrDAS2nqC .mbr-section-btn {
  margin: 0;
}
.cid-sRrDAS2nqC .mbr-section-btn .btn {
  margin: 0;
}
